<nav aria-label="Navigation">
  <div class="scrollable">
    <div class="wrapper">

      <div class="toc">
        {{ if gt (len .Site.Menus.main) 0 }}
        <ul>
          {{ partial "nav" . }}
        </ul>
        {{ end }}

        {{ if isset .Site.Params "author" }}
        <hr>

        <span class="section">Kontakt</span>

        <ul>
          {{ with .Site.Social.email }}
          <li>
            <a href="mailto:{{ . }}" title="E-Mail: {{ . }}">
              Kontakt per E-Mail
            </a>
          </li>
          {{ end }}
          <li>
            <a href="/impressum/">
              Impressum
            </a>
          </li>
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
