{{ $link := .Get "href" }}
{{ if ($link) }}
<a href="{{$link}}" target="_blank" style="border-bottom: none;">
{{ end }}
  <button class="btn btn-default">
  {{ $iconposition := .Get "icon-position" }}
  {{ $icon := .Get "icon" }}
  {{ if ($icon) }}
    {{ if or (not ($iconposition)) (eq $iconposition "left") }}
    <i class="{{$icon}}"></i>
    {{ end }}
  {{ end }}
  {{ .Inner }}
  {{ if and ($icon) (eq $iconposition "right")}}
  &nbsp;<i class="{{$icon}}"></i>
  {{ end }}
  </button>
{{ if ($link) }}
</a>
{{ end }}
